
style.css
h2{
	font-family: sans-serif;
	font-weight: normal;
}

.videongoding-slider { 
	border: 10px solid #efefef; 
	position: relative; 
	overflow: hidden; 
	background: #efefef;
}

.videongoding-slider { 
	margin:20px auto;
	width: 800px;
	height: 600px; 
}

